[Unit]
Description=Motion Capture Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi
ExecStart=/usr/bin/node /home/pi/raspberry-pi-node/motion.js
Restart=on-failure

[Install]
WantedBy=multi-user.target